*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{  
    height: 100%;
}


body{
    overflow-y:hidden;
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 52vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container{
    background: grey;
    position: relative;
    min-width: 250px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,);
    border-radius: 8px;
}

main h1{
    position: relative;
    font-weight: 600px;
    margin-bottom: 2rem;
}

main h1::before{
    content:"";
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
}

form{
    display: flex;
    flex-direction: column;
}

.input{
    position: relative;
}

main .input{
    margin-bottom: 1.5rem
}

.input .underline::before{
    content:"";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0,0,0,0.2)
}

.input .underline::after{
    content:"";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input input:focus ~ .underline::after{
    transform: scaleX(1);
}